<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p><%= mail_to "troy@startpomos.com", "Email us", 
         :subject => "Hi pomos!" %> or <%= link_to "tweet at", "http://twitter.com/home?status=@StartPomos Hi pomos!", :target=>"_blank" %> at us on Twitter.</p>
