<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p><%= mail_to "troy@startPOMOS.com", "Email us", 
         :subject => "Hi POMOS!" %> or <%= link_to "tweet at", "http://twitter.com/home?status=@StartPOMOS Hi POMOS!", :target=>"_blank" %> at us on Twitter.</p>
