<% provide(:title, 'Help') %>
<h1>Help</h1>

<h3>What is Pomos?</h3>
<p>
	Pomos is a web application that makes using the Pomodoro Technique easier.
</p>

<h3>Ok, so what is the Pomodoro Technique?</h3>
<p>
	The Pomodoro Technique is a simple time management method that improves a person's focus and productivity when he/she is working. 
</p>
<p>
	The central idea is that of a "Pomodoro", or 25 minutes of work followed by a 5 minute break. By breaking your time up like this, a person is forced to work with focus (you only have 25 minutes!) while making sure the mind does not fatigue (through the use of breaks, the performance improving effects of which have been <a href="http://pomos-blog.posterous.com/research-shows-that-taking-breaks-dramaticall">scientifically researched</a>).
</p>

<p>
	You can read more about the Pomodoro Technique on the <a href="http://pomos-blog.posterous.com/introduction-to-the-pomodoro-technique">pomos blog</a>, <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique">Wikipedia</a>, or on the <a href="http://www.pomodorotechnique.com/">official Pomodoro Technique website</a>.
</p>

<h3>How will Pomos help me then?</h3>
<p>
	Pomos makes keeping track of your Pomodoros (the time that you spend working on tasks using the Pomodoro Technique) easy. 
</p>
<p>
	The main feature of Pomos is a simple timer that lets you know when it's time to work or to take a break. 
</p>

<p>It also keeps track of the work you've done in the past, so you can analyze your historical working habits and improve work efficiency.
</p>

<p>Pomos is a web application, so no downloads are needed. Plus, you can access your account and use the Pomodoro Technique to work productively wherever you have internet access.</p>


<h3>Cool. So why did you develop Pomos?</h3>

<p>Pomos was born out of my own frustruations with finding a suitable timer application to use for the Pomodoro Technique. </p>

<p>I interned at a hedge fund this summer, sitting in front of a computer and churning out algorithms most of the day. I used to always use the Pomodoro Technique to boost my productivity when working on coding projects. But the existing Pomodoro timer applications out there just didn't solve my problems: I wanted something that tracked my progress/history with using the Pomodoro Technique for various projects, and something with a simple interface that I could start using immediately and did not require an installation or lengthy setup.</p>

<p>So I decided to solve the problem myself.</p>

<br><br>




<h2>As always, if you have questions or comments, feel free to <%= link_to "contact me", contact_path %></h2>

