<% provide(:title, 'the Pomodoro Technique timer') %>


<div id="main">
	<div class="center hero-unit">

		  <h1>Welcome to POMOS, the <a href="http://pomos-blog.posterous.com/introduction-to-the-pomodoro-technique" class="dashed" target="_blank">Pomodoro Technique</a> timer</h1>
		     
		     <%= button_to "Sign up to start tracking your Pomodoros", signup_path, :class => "btn btn-primary btn-large" %>
		  
			<h2><a href="#" onclick="openTimerPopup()">Or click here to just use the timer</a></h2>
	</div>


</div>

