
<%= render 'static_pages/timer_js' %> 

<div id="main">
	
	  <h2>
	    Welcome to pomos, the pomodoro timer
	  </h2>

	 
	 
	 <span id="sound"></span>

	<div id = "timer-wrapper" class="center">

		<div class="row">

			<div id="timer" class="well span4">
			</div>

		  	<button type="button" id="timerButton" class="btn btn-success btn-large span2">Start</button>

		</div>
		<div class="row">
			<span id="status" class="label label span2">Ready to start working</span>
		</div>


	</div>

</div>

