<% provide(:title, 'Pricing') %>

<script type='text/javascript'>
  $(function() {
    
    $('#pomodoro-tagging-tooltip-1').tipsy({gravity: 'w', fade: true, delayOut: 1000, offset:30});
    $('#pomodoro-tagging-tooltip-2').tipsy({gravity: 'w', fade: true, delayOut: 1000, offset:30});
    
    
  });
</script>
<h1>Pricing</h1>
<h2>In a month, how much more productive do you think you are when using the Pomodoro Technique? What is the dollar value of that productivity?</h2>

<div id="container">
	<div class="pricingtable">
		<div class="top">
			<h2>Starter</h2>
		</div>
		<ul>
			<li><strong>Full</strong> Email Support</li>
			<li><strong>100</strong> Pomodoros of <br>history</li>
			<li><strong><%= UsersHelper::FREE_MAX_TAGS %> </strong> <a title="Tag your Pomodoros with descriptive words such as 'research paper' or 'math homework', and look at how much of your time you've spent on what!" class="atooltip" id="pomodoro-tagging-tooltip-1">Pomodoro tags</a></li>
			
			<li>&nbsp</li>
			<li>&nbsp</li>
		</ul>

		<hr />

		<h1 class="normal">Free</h1>
		<p>&nbsp</p>
		

		 <%= link_to "Sign Up", signup_path, class: "signup-button" %>
	</div>

	<div class="pricingtable featured">
		<div class="top">
			<h2>Premium</h2>
		</div>

		<ul>
			<li><strong>Full</strong> Email Support</li>
			<li><strong>Unlimited </strong>Pomodoro history</li>
			<!--<li><strong>Free</strong> data export</li>-->

			<li><strong>Unlimited </strong><a title="Tag your Pomodoros with descriptive words such as 'research paper' or 'math homework', and look at how much of your time you've spent on what!" class="atooltip" id="pomodoro-tagging-tooltip-2">Pomodoro tagging</a></li>

			<li><strong>Any other features we release in the future</strong></li>

			<li>&nbsp</li>

		</ul>

		<hr />

		<h1><sup>$</sup>1.99</h1>
		<p>per month</p>

		 <%= link_to "Sign Up", "#", class: "signup-button", :onClick=> "TINY.box.show({url:'notready.html',width:300,height:150}); _gaq.push(['_trackEvent', 'Popups', 'Premium Not Ready']);".html_safe %>
	</div>
</div>