<% provide(:title, 'Timer') %>

<% content_for :timer_header do %>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>


	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/pepper-grinder/jquery-ui.css">
	<link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
<% end %>


<% content_for :timer do %>

<%= render 'static_pages/timer_js' %> 


	 <span id="sound"></span>

	<div id = "timer-wrapper" class="center">
		
		<div class="row">
			<% if is_free_user(current_user) %>
			<input type="text" style="" id="tags" name="tags" class="defaultText tags-box" title='Insert tags for current task here'  onclick="TINY.box.show({url:'premiumonly.html',width:300,height:150}); clicky.log('/premiumonly','Premium Only Popup');" />
			<% else %>
			<div class="small">Insert tags for current task below</div>
			<input type="text" style="" id="tags" name="tags" class="" />
			<% end %>

		</div>	

		<div class="row">

			<div id="timer" class="well span4">
			</div>

		  	<button type="button" id="timerButton" class="btn btn-success btn-large span2">Start</button>

		</div>
		<div class="row">
			<span id="status" class="label label span2">Ready to start working</span>
		</div>


	</div>


<% end %>