<% provide(:title, 'Timer') %>

<% content_for :timer do %>

<%= render 'static_pages/timer_js' %> 


	 <span id="sound"></span>

	<div id = "timer-wrapper" class="center">
		
		<div class="row">
			<input type="text" name="tags" class="defaultText tags-box" title='Insert tags for current task here' onclick="TINY.box.show({url:'premiumonly.html',width:300,height:150}); clicky.log('/premiumonly','Premium Only Popup');"/>
		</div>	

		<div class="row">

			<div id="timer" class="well span4">
			</div>

		  	<button type="button" id="timerButton" class="btn btn-success btn-large span2">Start</button>

		</div>
		<div class="row">
			<span id="status" class="label label span2">Ready to start working</span>
		</div>


	</div>


<% end %>